* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
margin: 0;
padding: 0;
}

a{
    text-decoration: none;
    color:black ;
}

a:visited { 
    text-decoration: none; 
    color: black; 
   }

body{
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    background-color: hsl(0, 0%, 81%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }



.mainNav h1  {
    font-size: 3em;
}

.mainNav h2  {
    font-size: 1em;
    margin-bottom: 2em;
}

.mainNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.mainNav a {
    padding: .5em;
}


/* PRODUCT LIST */

.productlist main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    gap: 2rem;
}

.productlist main h2 {
    grid-column: 1/-1;
}

.productlist article h3 {
    font-size: 1rem;
    flex-grow: 3;
}

.productlist article.soldOut img {
    opacity: 0.5;
}

.productlist article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    background-color: antiquewhite;
    padding: 1rem;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: red;
  padding: 0.2rem;
}

/* PRODUCT */

.breadcrumbs {
    list-style-type: none;
    display: flex;
    font-size: 1em;
}

.breadcrumbs a {
    padding: .2em;
}

.purchaseBox {
    background: #d8d8d8;
    padding: 1rem;
}

.info {
    padding: 1rem;
}
.product select {
    min-width: 100px;
}
.product main {
    display: grid;
}
.product main .breadcrumbs,
.product main img {
    grid-column: 1/-1;
}
.purchaseBox form label {
    gap: 1rem;
}
.purchaseBox button {
    display: block;
    margin-top: 1rem;
    width: 100%;
}
dt {
    font-weight: 700;
}